* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #121214;
}
body * {
    font-family: 'inter', sans-serif;
    color: white;
    line-height: 160%;
}

header{
    margin-top: 32px;
    height: calc(120px + 32px);
}

header div{
    width: 150px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%); 
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
    animation: deCima 1s backwards;
    animation-delay: .3;
}

header div:hover{
    transform: scale(1.1);
}

header img{
    width: 100%;
    border-radius: 50%;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

section{
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);  
    border-radius: 17px;
    padding-top: 5px;
    animation: deBaixo 1s backwards;
    animation-delay: .1s;
}

section:nth-child(1){
    animation-delay: 0s;
}
section:nth-child(2){
    animation-delay: .4s;
}
section:nth-child(3){
    animation-delay: .8s;
}

section h2{
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    gap: 16px;
    margin-top: 24px;
    list-style: none;
    flex-wrap: wrap;
}

section ul li{
    transition: transform .3s;
}

section ul li:hover{
    transform: scale(1.1);
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

.listaJogos img{
    border-radius: 10px;    
}

.listaStreamers img{
    border: 1px solid #121214;
    border-radius: 999px;
    scale: 70%;
    margin-left: -40px

}

/* Animações */

@keyframes deCima {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0) ;
    }
}

@keyframes deBaixo {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}